<h1>About the Founders</h1>
<p></p>

<div>
    <strong>Ian and Corey developed this multi million dollar idea. We are willing to sell for no less than <em>$50,000,000. We also accept Bitcoin.</em></strong>
    <p>Any enquires can be directed to our assistant Emile.</p>
</div>
<div>A hostle takeover has begun, Ian will be removed from the company</div>